<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uoc.expensemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseManager">
        <activity
            android:name=".ui.ResumeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.TripUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TripEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TripViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TripListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>